.header_wrapper{
    position: relative;
    text-align: left;
    border: 1px solid #ccc;
}
.header_wrapper .title{
    font-size: 40px;
    display: inline-block;
}
.header_wrapper .options{
    display: inline-block;
    margin-left: 100px
}